:root{
    --bg-100:#F8F7F3;
    --bg-200:#dbba91;
    --bg-300:#e5c69a;
    --bg-400:#F5EDDF;
    --text-100:#000000;
    --text-200:#5C5C5C;
    --primary-100:#30a380;
    --secondary-200: #b47341;
    --extra:#61371A;
}
*{
    box-sizing: border-box;
}