*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter Semi Bold';
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    background-color: #F8F7F3;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.image-container {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.login-container {
    flex: 1;
    max-width: 400px;
    text-align: center;

}


.login-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.login-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #30A380;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color ease-in-out 1s;
}


.icon{
    width: min-content;
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .main-container {
        padding: 10px;
    }

    .image-container {
        flex: 1 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .login-container {
        flex: 1 100%;
        max-width: 100%;
    }
}

.divSpecific{
    border: 1px solid #0f9;
    border-radius: 8px;
    width: 200px;
    padding: 2px;
    transition: all 1s ease-in-out;
    margin-bottom: 20px;
}
divSpecific:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
label{
    display: flex;
    flex-direction: column;

}

input{
    border: none;
    background-color: #F8F7F3;
}

input:focus{
    outline: none;
}