:root{
    --bg-100:#F8F7F3;
    --bg-200:#dbba91;
    --bg-300:#e5c69a;
    --bg-400:#F5EDDF;
    --text-100:#000000;
    --text-200:#5C5C5C;
    --primary-100:#30a380;
    --secondary-200: #b47341;
    --extra:#61371A;
}
*{
    box-sizing: border-box;
}
@view-transition{
    navegation: auto;
}
::view-transition-old(root),
::view-transition-new(root){
    animation-duration: .5s;
}

::view-transition-old(link){
    animation-name: scaleOut;
}
::view-transition-new(link){
    animation-name: scaleIn;
}
@keyframes scaleIn {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@keyframes scaleOut {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }

}
.bg-bone-bg{
    background: var(--bg-100);
}
.bg-400{
    background: var(--bg-400);
}

.text-primary{
    color: var(--primary-100);
}
.text-secondary{
    color: var(--secondary-200);
}
.text-100{
    color: var(--text-100);
}
.text-200{
    color: var(--text-200);
}
.text-extra{
    color: var(--extra);
}
.text-bg-100{
    color: var(--bg-100);
}
.bc{
    border: 1px solid var(--secondary-200);
    transition-duration: 1s;
    transition-property: background;
    transition-timing-function: ease-out;
}
.bc:hover{
    background: var(--secondary-200);
    border: none;

}
.background{
    background-image: url("../img/categoria3.jpeg");
    background-size: cover; /* Ajustar imagen al contenedor sin recortar */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-position: center; /* Centrar la imagen */
}

.background2{
    background-image: url("../img/categoria2.jpeg");
    background-size: cover; /* Ajustar imagen al contenedor sin recortar */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-position: center; /* Centrar la imagen */
}
.background3{ background-image: url("../img/categoria1.jpeg");
    background-size: cover; /* Ajustar imagen al contenedor sin recortar */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-position: center; /* Centrar la imagen */
}
.background4{
    background-image: url("../img/categoria1.jpeg");
    background-size: cover; /* Ajustar imagen al contenedor sin recortar */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-position: center; /* Centrar la imagen */

}


.categoria {
    transition: all 300ms;
    transition-timing-function: cubic-bezier( 0.12, 0.07, 0.92, 0.59 )
}

.categoria:hover{
    transform: scale(1.1);

}
.link{
    view-transition-name:link;
}
.nav__link{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 80px;
    right: 0;
    background: var(--bg-400);
    display: grid;
    place-items: center;
    text-decoration: none;
    clip-path: circle(0% at top left);
    transition: clip-path .4s;
}
.nav__link:target{
    clip-path: circle(150% at top left);
}
